<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><=UserLogin></title>
    <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/CSS/login_pad.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {

            $("#txtUserName").focus();

            $("#btnLogin").click(function () {
                if ($("#txtUserName").val() == "") {
                    alert("<=NameNotNull>");
                    return;
                } else if ($("#txtPassword").val() == "") {
                    alert("<=PassWordNotNull>");
                    return;
                }

                var str = "UserName=" + $("#txtUserName").val() + "&Password=" + $("#txtPassword").val();
                str += "&Lang=" + $("#selLang").val();
                $.ajax({
                    type: "POST",
                    url: '@{ <text>@Url.Action("UserLogOn_Pad", "Account")</text>}',
                    cache: false,
                    data: str,
                    async: false,
                    error: function () {
                        alert("<=Applicationerror>");
                    },
                    dataType: 'json',
                    success: function (result) {
                        if (result.success)
                            if (result.URL == "Pad")
                                window.location.href = '@{ <text>@Url.Action("TmsOrderForPad", "OrderManagement")</text>}';
                            else
                                window.location.href = '@{ <text>@Url.Action("Index", "Home")</text>}';
                        else {
                            if (result.msg != "expired")
                                alert(result.msg);
                            else
                                window.location.href = '@{ <text>@Url.Action("ForceModifyPassword", "Account")</text>}';
                        }
                    }
                });
            });
            var Lang = "@ViewBag.Lang";
            if (Lang == "SimplifiedChinese") {
                $("#selLang").val("1");
            }
            else {
                $("#selLang").val("0");
            }
            $("#txtUserName,#txtPassword").keydown(function (e) {
                if (e.keyCode == 13) {
                    $("#btnLogin").click();
                }
            });
        });
    </script>
    @*<style type="text/css">
        body
        {
            font-size: 20px;
        }
        #login_bar .button
        {
            background: none repeat scroll 0 0 #3F9AC9;
            border: 0 none;
            color: #FFFFFF;
            cursor: pointer;
            height: 24px;
            line-height: 24px;
            margin: 0 15px;
            overflow: visible;
            padding: 0 20px;
        }
        #login_bar .text
        {
            height: 20px;
            line-height: 20px;
            width: 200px;
        }
        .login_footer
        {
            font-size: 16px;
        }
    </style>*@
</head>
<body>
    @*  <table>
        <tr>
            <td>
                用户名：
            </td>
            <td>
                <input type="text" id="txtUserName" />
            </td>
        </tr>
        <tr>
            <td>
                密码：
            </td>
            <td>
                <input type="password" id="txtPassword" />
            </td>
        </tr>
        <tr>
            <td>
                语言：
            </td>
            <td>
                <select id="selLang">
                    <option value="1">中文版</option>
                    <option value="0">英文版</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" id="btnLogin" value="登录" />
            </td>
        </tr>
    </table>*@
    <div id="login_bar">
        <div class="top">
        </div>
        <div class="content">
            <ul class="login_lst">
                <li>
                    <label>
                        <=UserName>:</label><input class="text" id="txtUserName" type="text" value="" /></li>
                <li>
                    <label>
                        <=Pwd>:</label><input class="text" type="password" id="txtPassword" value="" /></li>
                <li>
                    <label>
                        <=language></label><select class="select" id="selLang">
                            <option value="1"><=China></option>
                        </select></li>
                <li class="btn_bar">
                    <input type="button" class="button" value="<=Login>" id="btnLogin" /><input type="reset"
                        class="button" value="<=Reset>" /></li>
            </ul>
        </div>
    </div>
    <div class="login_footer" id="footer">
        Copyright &copy; 2015 DHL International GmbH.
        Rights reserved.
    </div>
</body>
</html>
